.carousel-inner {
    height: 400px;
}

.row-content {
    height: 500px;;
}

.card-img-top {
    float: left;
    width:  246px;
    height:  260px;
    object-fit: cover;
}

.card {
    border: none;
}

footer {
    background-color: #212529;
    color: #fff;
}

.img-detail {
    max-width: 400px;
}

.short-description-min {
    display:inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 25ch;
}

.food-name-min {
    display:inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 17ch;
}

.padding-10{
    padding-right:10px;
    padding-left:10px;
}

.img-on-carousel {
    width: 100%;
    height: 100% !important;
    object-fit: cover;
}